{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 180,
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "always"
}
